
.name{
      margin-top: 30px;
      margin-bottom: 10px;
      align-items: center;
      text-align: center;
      font-size: xx-large;  }
      
   .image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 80%;  }   



   .footer{
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    font-size: x-large;

   }

   .custom-button{
       margin-top: 20px;
       margin-left: auto;
       margin-right: auto;
   }

    




